

/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

a {
  text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  /*vertical-align: baseline; */
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-family: 'Roboto', sans-serif;
} 

/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');*/

.webkit {
  display: -webkit-box;
}

.w-95 {
   width: 95%; 
}
.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 26px;     
}

.header { 
   display: flex;   
   background: url("../../assets/images/header_bg.jpg") rgba(0,0,0,0.5) no-repeat;
   background-position: center;
   background-size:  cover;
   background-blend-mode: overlay, normal;
   padding-bottom: 60px;
       
}
/* Modal CSS */

.modal {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.8);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none; 

    }

    .modal:target {
      opacity:1;
      pointer-events: auto;
    }

    .modal form {
      margin: 10% auto;
      border-radius: 10px;
      background: #fff;
    } 

    .x {
      display: block;
      float: right;
      margin-bottom: 22px; 
      margin-right: 14px;
      padding: 0 8px;
      transform: rotate(135deg);
    }

    .x span {
      display: block;
      height: 20px;
      width: 4px;
      border-radius: 5px;
      background: #d6d6d6;
    }

    .x span:before {
      content: '';  
      display: block;
      height: 20px;
      width: 4px;
      border-radius: 5px;
      transform: rotate(90deg);
      background: #d6d6d6;
    }

    .modalCont {
      max-width: 380px;
      margin: 0 auto;
      margin-top: 110px; 
     
    }

     .modal-body {
        padding: 26px;
        border-radius: 4px;
        background: #fff;
     }

     .modal-body h2 {
        font-size: 25px;
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        margin-bottom: 31px;
        color: #3E3E3E;
     }

     .modal-body p {
        font-size: 20px;
        line-height: 36px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #3E3E3E;
     }



    .cel, .email  
    {   
        display: flex;
        flex-direction: column; 
        flex: 1;
    }

    .cel label, .email label {
        font-size: 14px;
        line-height: 16px;
        font-family: 'Roboto', sans-serif;
        padding: 18px 0; 
        color: #09B27E;
        font-weight: bold;
    }

     .cel input, .email input {
        font-family: 'Robot', sans-serif;
        font-size: 19px;
        line-height: 23px;
        outline: 0;  
        border: 0;
        border-bottom: 2px solid #838383; 
        padding-bottom: 10px;
        color: #232323; 
    }
    

    .btn {
        text-align: center;
        border: 0;
        outline: 0;
        margin: 30px 0;
        width: 100%;
        height: 73px;
        border-radius: 37px; 
        margin-bottom: 6px;
        color: #fff;
        background: #09B27E;
    }

    .btn button {
        font-size: 18px;
        line-height: 73px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-decoration: none;
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
        color: #fff; 
        cursor: pointer; 
      
    }

/*Fim do Modal */    

.clear {
    clear: both;
}

.home {
    padding: 60px 0;
    color: #fff;
    
}

.home h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 42px;
    line-height: 55px;
    margin-top: 175px;
    margin-bottom: 26px;
}


.home-info {
   width: 100%; 
   display: flex;
   flex-wrap: wrap;
}

.home-info li {
    display: flex;
    float: left;
    padding: 0;
    margin: 26px 0;
}

.home-info li span {
    display: flex;
    margin: 0 21px;
    
}

.home-info li img {
    /*width: 67px;*/

    height: 40px;
    bottom: -15px;
    position: relative;
    padding: 0;
}

.home-body {
    margin: 0 20px;
}

.home-info p {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-weight: 300;    
   line-height: 24px; 
}

.home-info h4 {
  font-size: 18px;
  line-height: 2em;    
}

.mobile-body {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-right: 18%;	
}

.home-btn {
    display: block;
    float: left;
    padding: 0 57px;
    margin: 20px 0px;
    font-size: 1.5em;   
    line-height: 73px;
    border-radius: 50px;
    color: #09B27E;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
    
}

.home-conteudo img{
    display: block;
    height: 60px;
    padding: 0;
}

.bg-white-fix {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 9999;
	border: 1px solid rgba(214, 214, 214, 1);
	box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}


.menu {
	width: 100%;
	height: 80px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-menu {
   display: flex;
   line-height: 80px;
}

.btn-menu {

}

.btn-menu a {
   padding: 19px 76px;
   border-radius: 37px; 	
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   line-height: 26px;
   font-weight: 700;
   color: #fff;	
   background-color: rgba(9, 178, 126, 1);
}

.menu .parcelas p {
	margin-right: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 80px;

}

.col-1, .col-2, .col-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 26px;
}

.col-2, .col-3 {
   align-items: center;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9 {
   flex: 0 0 297px;
   margin-bottom: 67px;    
    
   
}

.col-1 h2, .col-2 h2, .col-3 h2{
 margin: 40px 0; 
 text-align: left;
}

.col p {
 display: block;
 float: left;       
 text-align: left;
}

.titulo {
 margin-top: 60px; 
 margin-bottom: 40px;     
 font-size: 30px;
 font-family: 'Roboto', sans-serif;
 text-align: center;    
 color: #3E3E3E;
 line-height: 39px;
}

.titulo:after {
 content: "";
 display: block;    
 width: 99px;
 height: 2px;
 top: 10px;
 background: #3E3E3E;
 margin: 0px auto 0px auto;    
}

.conteudo h2 {
  padding: 0;
  margin: 20px 0;    
  font-family: 'Roboto', sans-serif;
  font-weight: 900; 
  color: #3E3E3E;       
}

.conteudo h2:after {
  content: "";
  display: block;
  width: 99px;    
  height: 5px;
  margin: 26px 0px 0px 0px;
  border-radius: 6px;    
  background: #09B27E;
}

.conteudo h2.quebra:after {
  margin: 6px 0;
}

.conteudo h2.quebra {
	margin-right: 23px; 
}

.conteudo p {
  padding: 0 0px;    
  margin: 0px 0px;    
  font-family: 'Roboto', sans-serif;
  font-weight: 400;  
  font-size: 20px;
  line-height: 26px;
  color: #3E3E3E;    
}
.workshop-voce h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    line-height: 39px;
    font-weight: 700;
    color: #3E3E3E;
}

.workshop-voce h2:after {
  content: "";
  display: block;
  width: 99px;
  height: 2px;
  margin: 6px auto 0 auto;    
  background: #3E3E3E;    
      
}

.workshop-voce p {
   padding: 30px 0;    
   font-size: 24px;
   line-height: 36px;     
   font-family: 'Roboto Regular', sans-serif;
   color: #3E3E3E;    
}

.home-conteudo {
   margin: 0 0; 
}

.bg-cinza {
    background: #F7F7F7;
}

/*.home-conteudo h2 {
    margin: 30px auto;
    font-size: 1.7em;
    text-align: center;
    color: #3E3E3E;
}
*/

.gmap {
	/*display: block;
	text-indent: -9999px;
	width: 100%;
    height: 456px;
    background-image: url(../../assets/images/mapa.jpg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
    */
}
.box-mapa {
    width: 100%;
    height: 456px;
    background: #666;
}


.box-50 {
    display: flex;
    flex: 1;
}

.workshop-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.titulo-workshop {
    text-align: center;
    color: #3E3E3E;
}

.container-card {

}

.img-left {
   width: 27%;
   height: 442px;
   background: url("../../assets/images/thomaz.jpg") center center no-repeat;
   background-position: center;
   background-size:  cover;
   background-blend-mode: overlay, normal;
}

.card-thomaz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto;    
   
    
}

.card-thomaz h2 {
    margin: 26px 0px 0px 26px;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #3E3E3E;
}

.card-right {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 546px;
    margin-right: 100px;
    z-index: 1;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    position: relative;
    background: #fff;
}

.row {
    display: flex;
    flex: 1 1 100%;
    padding: 0;
}

.card-thomaz img {
    margin: 0px 0px;
    padding: 0px 0px;
}

.instrutor {
    flex: 1 1 100%;
    margin: -20px 0px 0px 26px;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #09B27E;
}

.icon-mark {
    margin: 15px 12px; 
}

.icon-mark img {
    display: block;
    height: 30px;
    margin: 0 10px; 
}

.instrutor-info {
    margin-right: 20px;
    font-size: 22px;
    line-height: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3E3E3E;
}

/* -------Encontro ao Vivo ----*/

.encontro-aovivo {
    display: flex;
    margin: 170px 50px;
}

.encontro-aovivo img {
    display: block;
    margin-right: 100px;
}

.info-aovivo {
   

}

.encontro-aovivo h2 {
  margin-bottom: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #3E3E3E;
}

.encontro-aovivo p {
  margin-bottom: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3E3E3E;
}

.aovivo-info {
    display: flex;
    flex-direction: row;
}



/*----- Mais de 15 anos de experiência compilados ----*/

.exp-info h2 {	
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #3E3E3E;
}

.exp-p1 {
  padding: 20px 0;
  margin-right: 23px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3E3E3E;
}

.exp-p2 {
  padding: 20px 0 60px;
  margin-right: 23px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3E3E3E;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

/*--------------------------Workshop Gestão ?gil--------------------------*/

.col-12 {
    margin: 60px auto;
    
}

.titulo-workshop {
  margin: 46px 0 15px 0; 
  font-family: 'Roboto', arial;
  font-size: 26px;
  line-height: 34px;
  font-weight: 800;
  color: #3E3E3E;
    
}

.workshop {
    display: flex;
    margin: 26px 0px;
    flex-basis: 34%;
}

.workshop img {
  height: 40px;
  margin-right: 21px;
      
}


.row-50 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.workshop-gestao h4 {
  margin: 0px; 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; 
  color: #3E3E3E;    
}

.workshop-gestao p {
 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;    
}

.workshop-gestao span {
 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}

.workshop-gestao small {
 
  font-family: 'Roboto regular', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}

/*-------- Depoimentos --------*/
.depoimentos {
    background-color: #F7F7F7;
}

.container-slick {
   height: 100%;
   overflow: hidden;
}



.titulo-depoimentos {
    padding: 60px 0;
    font-size: 30px;
    font-family: 'Roboto Bold', sans-serif; 
    text-align: center;
    line-height: 39px;
    color: #3E3E3E;
}

.titulo-depoimentos:after {
  content: "";
  display: block;
  width: 99px;
  height: 2px;
  margin: 6px auto 0 auto;    
  background: #3E3E3E;    
      
}

img.img-slider, .slick-slide img {
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 50%;
  margin: 26px;
}

.box-main {
  display: flex;
  flex-wrap: wrap;	
  width: 500px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background: #FFFFFF;
  opacity: 0.5;
}

.box-card {
  display: flex;
  align-items: center;
  flex: 1;
}

.box-main h2 {
  display: inline;
}

.card-conteudo {
  padding: 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; 
  color: #3E3E3E;
}

.box-titulo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3E3E3E;
}

.box-titulo blockquote {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin: 6px 0;
    color: #09B27E;
}

.slick-active .box-main {
	width: 547px;
	opacity: 1;
}

.slider {
        margin: 0 auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }


    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .5;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

.slick-list {
	padding: 0;
}

.nav-dots {
  display: flex;
  justify-content: center;
  margin: 60px auto;
}

.dot {
  display: block;
  width: 14px;
  height: 14px;
  background: #09B27E;
  border-radius: 50%;
  margin: 0 10px;
  border: 3px solid #09B27E;
}

.active-dot {
  border: 3px solid #09B27E;
  background: none;
  opacity: 1;
}

.slick-next, .slick-prev {
  display: none !important;
}

.slick-dots
{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 60px auto;
    list-style: none;
    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button
{
    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;
   
    color: transparent;
    border: 0;
    outline: none;
    background: #F7F7F7;
}

.slick-dots li button:before
{
    font-size: 6px;
    line-height: 14px;

    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 14px;

    content: '';
    text-align: center;

    opacity: 1;
    background: #09b27e;
    border: 3px solid #09b27e;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    background: transparent;
}

.slick-dots li button
{ 
   background: transparent;
   border: 0;
}

.slick-slide {
    float: left;
    height: 100%;
    margin-top: 10px;
    min-height: 1px;
}



/*------------------Perguntas freguentes --------------------*/ 



.padding-bottom-60 {
  padding-bottom: 60px;
}
.perguntas {
   
}

.perguntas li:nth-last-child {
  margin-bottom: 30px;

}

.perguntas-titulo {
  padding: 48px 0 49px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: #3E3E3E;
}

.perguntas-titulo:after {
  content: "";
  display: block;
  width: 99px;
  height: 2px;
  margin: 6px auto 0 auto;    
  background: #3E3E3E;    
      
}

.perguntas h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 34px;    
  color: #3E3E3E; 
}

.perguntas .perguntas-btn:nth-child(n+1) {
  padding: 20px 0;
}

.perguntas-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
}

.p-freguentes {
	font-family: 'Robot', sans-serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #3E3E3E;
}

.oculta {
  display: none;
}

.block {
  display: block;
  transition: all .2s;
}


/*.seta {
  display: block;
  height: 20px;
  width: 5px;
  background: #3E3E3E;
  cursor: pointer;
  margin: 10px;
}

.seta:before {
  content: "";
  display: block;    
  width: 20px;
  height: 5px;
  left: -7px;
  top: 7px;
  position: relative;
  background: #3E3E3E;
  cursor: pointer;
 }
*/
 
.seta .navicon:after {
  transition: 0.25s;
}

.navicon {
  position: relative;
  width: 20px;
  height: 5px;
  margin: 20px;
  border-radius: 5px;
  background: #3E3E3E;
  transition: 0.5s;
  cursor: pointer;
}
.navicon:after {
  display: block;
  content: "";
  height: 5px;
  width: 20px;
  border-radius: 5px;
  background: #3E3E3E;
  position: absolute;
  z-index: 1;
  transition: 0.5s 0.25s;
}
.navicon:after {
  transform: rotate(90deg);
}

.open {
  transform: rotate(45deg);
}

.open .navicon {
  background: transparent;
}
.open .navicon:after {
  transform: rotate(135deg);
}
.open {
  transform: rotate(45deg);
}

/*------------------------Footer------------------------*/
.fixed-bottom {
   position: relative;
   bottom: 0;
   
}

.bg-footer {
   background: #076CE2;    
}

.col-100 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.duvidas {
    display: flex;
    flex-direction: column;
    flex: 0 0 37%;
    justify-content: flex-start;
    margin-top: 60px;
    color: #fff;
}

.duvidas h4 {
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  line-height: 34px;  
  font-weight: 700;

  color: #fff;   
}

.duvidas p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 21px;
        
}

.whatsapp {
    display: block;
    height: 40px;
    margin: 0px 26px;
}

.btn-wp {
    display: flex;
    width: 357px;
    align-items: center;
    height: 73px;
    margin: 26px 0;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 73px;
    border: 2px solid #fff;
    
    text-align: center;
        
}

.number {
    color: #fff;
}

/*-----------------box------------------*/

.box-vagas {
    display: flex;
    flex: 0 0 380px;
    flex-direction: column;
    background: #fff;
    margin: 60px 0;
    margin-right: 100px;
    border-radius: 3px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    
}

.row-vagas {
    display: flex;
    flex-basis: 50%;
}

.box-vagas h4 {
    font-size: 18px;
    font-family: 'Roboto Bold', sans-serif;
    line-height: 24px;
    color: #3E3E3E;
}

.box-vagas p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin: 3px 0;
}

.box-vagas span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #6E6E6E;
}


.box-vagas h2 {
    padding: 60px 30px 30px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    color: #3E3E3E;
}

.box-vagas img {
    display: block;
    height: 40px;
    margin-right: 20px;
}

.vagas-row {
    display: flex;
    flex: 1;
    padding: 20px 20px;
}

.btn-footer {
    margin: 36px 16px;
    padding: 20px 40px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 34px;
    border-radius: 60px;
    font-weight: bold;
    color: #fff;
    background: #09B27E;
    
}

